*{
    margin: 0%;
    padding: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.Titulo{
    color: white;
    margin-left: 7%;
    width: 100%;
}
.Subtitulo{
    color: #004070;
    margin-left: 10%;
}
.grupo{
    border: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: #5d8cb1;
    font-size: 1em;
    color: #004070;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
}
input,select, textarea, button{
    border-radius: 5px;
}
.campo label{
    margin-bottom: 0.2em;
    color: #004070;
    display: block;
}
fieldset .grupo .campo{
    float: left;
    margin-right: 1em;

}
.campo input[type="text"], .campo input[type="Email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #004070;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    outline: none;
}
.campo select option{
    padding-right: 1em;
}
.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: #36658a;
    color: white;
}
button{
    cursor: pointer;
    font-size: 1.2em;
    background: #004070;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgb(0,0,0,0.5);
    position: solid;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    margin-top: 5px;     
}
button:hover{
    background: #142837;
    box-shadow: inset 2px 2px 2px rgb(0,0,0,0.2);
    text-shadow: none;
}
#check{
    display: inline-block;
}
