*{
    margin: 0%;
    padding: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.Titulo{
    color: #380b61;
    margin-left: 7%;
}
.Subtitulo{
    color: #380b61;
    margin-left: 10%;
}
.grupo{
    border: 0;
}
body {
    background-color: #f0f8ff;
    font-size: 1em;
    color: #59429d;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}
input,select, textarea, button{
    border-radius: 5px;
}
.campo label{
    margin-bottom: 0.2em;
    color: #59429d;
    display: block;
}
fieldset .grupo .campo{
    float: left;
    margin-right: 1em;

}
.campo input[type="text"], .campo input[type="Email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
}
.campo select option{
    padding-right: 1em;
}
.campo input:focus, .campo select:focus, .campo textarea:focus{
    background: #e0e0f8;
}
button{
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgb(0,0,0,0.5);
    position: solid;
    top: 90%;
    left: 50%;
    margin-right: -50%;     
}
button:hover{
    background: #ccbbff;
    box-shadow: inset 2px 2px 2px rgb(0,0,0,0.2);
    text-shadow: none;
}
#check{
    display: inline-block;
}
@media only screen and (max-width:950px){
    body{
        margin-left: 35% ;
    }   
    
}
@media only screen and (max-width:600px){
    body{
        margin-left: 25% ;
    }
}